SUPERNODE_NAME=<beschreibender Name, tollestadt-1>
SUPERNODE_TRANS_IPV6_REMOTE=<IPv6 Gateway Adresse auf Konzentrator, 2a03:2260:AAAA:BBBB::C>
SUPERNODE_TRANS_IPV6_NET=<IPv6 Supernetz fuer Transit, 2a03:2260:AAAA:BBBB::/56>
SUPERNODE_CLIENT_IPV6_NET=<IPV6 Client Netz, 2a03:2260:AAAA:BBBB::/64>
SUPERNODE_CLIENT_IPV4_NET=<IPv4 Netz fuer die Clients, 172.XX.0.0/16>

